<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Form</title>
    <link rel="stylesheet" href="/styles/det.css">
</head>

<body>
   
    <div class="form-container">
        <button class="back-button" onclick="window.location.href='/home'">
            &#x276E;
          </button>
        <div class="form-header">You Pay Before <%=daysDiff%> Days</div>
       
        <div class="label">Details</div>
        <div class="field"><%=group.description%></div>
        <div class="label">Category</div>

        <div class="field"><%= group.category%></div>
        <div class="label">Amount</div>
        <div class="field"><%=group.payment%></div>
        <div class="label">Date</div>
        <div class="field"><a><%=group.date%></a></div>
        <div class="label">Time</div>
        <div class="field"><a href="#"><%=group.time%></a></div>

        <div class="group-members-section">
            <div>Group Members</div>
            <div class="members-container">
                <div class="member">Ram</div>
                <div class="member">Ravan</div>
                <div class="member">Sita</div>
            </div>
        </div>
       

        <div class="button-container">
            <button class="submit-button" onclick="window.location.href='/delete-grp/<%=encodeURIComponent( group.id)%>/<%=encodeURIComponent(group.payment)%>/<%=encodeURIComponent( group.category)%>'">I Got the Payment</button>
            
        </div>
    </div>
</body>
</html>